<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/wisit.png" alt="Wisit14">
    <h2>Tracker de charlas</h2>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6" ng-repeat="bloques in conferencia | groupBy: 'dia' | toArray: true | orderBy:'-$key'">
      <h2 class="page-header">{{bloques.$key}}</h2>
      <ul class="nav nav-tabs nav-stacked" ng-repeat="bloque in bloques">
        <li>
          <a ng-href="/bloque/{{bloque.numero}}">
            Bloque #{{bloque.numero}} / {{bloque.inicio() | date:'H:mm'}} - {{bloque.fin() | date:'H:mm'}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
