<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/wisit.png" alt="Wisit14">
    <h2>Tracker de charlas</h2>
  </div>
</header>

<div class="container">
  <div class="row" ng-repeat="(dia, bloques) in conferencia | groupBy: 'dia'">
    <div class="col-lg-12">
      <h2 class="page-header">{{dia}}</h2>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="bloque in bloques">
        <li>
          <a ng-href="/bloque/{{bloque.numero}}">Bloque #{{bloque.numero}} ({{bloque.inicio() | date:'shortTime'}} - {{bloque.fin() | date:'shortTime'}})</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Hands on stack MEAN |
        <a href="https://twitter.com/search?q=%23wisit14">#wisit14</a> |
         <a href="http://wisit.uqbar.org">wisit.uqbar.org</a></p>
  </div>
</footer>
